@model ExperienceVM
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3>Yetenek Düzenleme Sayfası</h3>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <br />
                @Html.HiddenFor(x => x.ExprerienceID)
                <br />
                @Html.Label("Deneyim Başlığı")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
                @Html.Label("Tarih Bilgisi")
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                <span asp-validation-for="Date" class="text-danger"></span>
                <br />
                @Html.Label("Resim Yolu ")
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <br />
                @Html.Label("Açıklama ")
                @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
                <br />
                <button class="btn btn-outline-success">Kaydet</button>
            </div>
        </div>
    </div>
}


