@model PortfolioVM
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Main/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3> Proje Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    <br />
    @Html.Label("Proje Başlığı")
    @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
    <br />
    @Html.Label("Görsel 1")
    @Html.TextBoxFor(x=>x.ImageUrl,new{@class="form-control"})
    <br />
    @Html.Label("Görsel 2")
    @Html.TextBoxFor(x=>x.ImageUrl2,new{@class="form-control"})
    <br />
    @Html.Label("Proje Url ")
    @Html.TextBoxFor(x=>x.ProjectUrl,new{@class="form-control"})
    <br />
   
    <button class="btn btn-success">Ekle</button>
}

